<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<title>Roast Profiler</title>  
	</head>
	<body>
		<noscript>
			You need to enable JavaScript to run this app.
		</noscript>
    <script src="/socket.io/socket.io.js"></script>
    <script src="plotly.js"></script>

    <div id="plot" style="width:600px;height:250px;"></div>
	
    <script>
      const socket = io();
      var log = [];
      var time = []
        socket.on('count', (arg) => {
          console.log(arg); 
          newVal = arg;
          log.push(newVal);
          var str = log.toString();
          var holder = document.getElementById('message');
          holder.innerHTML = str
        });


      plot = document.getElementById('plot');
    	Plotly.newPlot( plot, [{
      x: [1, 2, 3, 4, 5],
      y: [1, 2, 4, 8, 16] }], {
      margin: { t: 0 } } );
    </script>
		<div id="main"><h1>hello</h1></div>
    <div id="message"><p></p></div>
    </body>
</html>
