<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
    <link rel="shortcut icon" href="#">
		<title>Roast Profiler</title>
	</head>
	<body>
		<noscript>
			You need to enable JavaScript to run this app.
		</noscript>
   
	<div id="main">
      <h1>Roast Profile</h1>
	  <p1>Air: <span id='air-temp'></span></p1><br/> 
      <p1>Bean: <span id='bean-temp'></span></p1><br/> 
      <p1>RoR: <span id='ror'></span></p1><br/>
	  <div id="legend">
	  	<p1 style="color:green">Bean Temp</p1>
		<p1 style="color:red">Air Temp</p1>
	  </div>
	</div>
    </div>
    <div id="plot"></div>
	</body>
 <script src="/socket.io/socket.io.js"></script>
 <script src="/canvasjs.min.js"></script>
 <script src="/main.js"></script>
</html>
