<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<title>Roast Profiler</title>
	</head>
	<body>
		<noscript>
			You need to enable JavaScript to run this app.
		</noscript>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();
        socket.on("count", (arg) => {
          console.log(arg); 
          var msg = []
          for(arg = 0; arg < 5; arg++) {
            msg.push(arg);
          }
          var str = msg.toString();
          var msgHolder = document.getElementById('message');
          msgHolder.innerHTML = str
        });
    </script>
		<div id="main"><h1>hello</h1></div>
    <div id="message"><p></p></div>
	</body>
</html>
